@model PizzaPlace.Web.Models.LocationModel
@{
    ViewData["Title"] = "ChooseALocation";
}
<h2>ChooseLocation</h2>
<h4>Locations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChooseALocation" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationId" />
            <div class="form-group">
                <h2>@TempData["welcome"]</h2>
                <h4>Please Choose the location:</h4>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(x => x.SelectedLocation, new List<SelectListItem>
                {
                      new SelectListItem() {Text = "Kevin's Pizza", Value="1"},
                      new SelectListItem() {Text = "Pizzageddon", Value="2"},

                })

                <input type="submit" value="Continue" class="btn btn-default" />
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}