@model IEnumerable<PizzaPlace.DataAccess.Users>
@{
    ViewData["Title"] = "Home";
}
<style>

    button {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        display: inline;
        vertical-align: middle;
        margin-left: 20px
    }

    


</style>


<h1 align="left">Manager Menu</h1>
    <div style="width: 100%;">
        <div style="float:left; width: 50%">
            <div class="form-group">
                <h4>1) Search users by name</h4>
                <button type="submit" class="btn btn-default "><a href="SearchUser">Go</a></button>
            </div>

            <h4>2) Display all order history of a location</h4>
            <div class="form-group">
                <button type="submit" class="btn btn-default "><a href="/Orders/OrderSorting">Go</a></button>
            </div>

            
        </div>



        <div style="float:right; width: 50%">
            <h4>4) All Users</h4>
            <div class="form-group">
                <button type="submit" class="btn btn-default "><a href="index">Go</a></button>
            </div>

            <h4>5) All Locations</h4>
            <div class="form-group">
                <button type="submit" class="btn btn-default "><a asp-area="" asp-controller="Locations" asp-action="Index">Go</a></button>
            </div>

            <h4>6) All Order</h4>
            <div class="form-group">
                <button type="submit" class="btn btn-default "><a asp-area="" asp-controller="Orders" asp-action="Index">Go</a></button>
            </div>


        </div>
    </div>